a {
  color:black;
  text-decoration: none;
}

h1 {
  font-size:33px; text-align: center;
  border-bottom: 5px solid gray;
  margin:0;
  padding: 25px;
  background: linear-gradient(to bottom right, black, #4f4f4f);
}

.list {
  font-size: 22px;
  border-right: 2px solid gray;
  width: 110px;
  margin: 0;
  padding:50px;
  letter-spacing: 3px;
  line-height: 180%;
  color:green;
  background: linear-gradient(darkgray, slategray);
}

body {
  margin:0;
}

h1 a {
  color:white;
}
#grid{
  display: grid;
  grid-template-columns: 230px 1fr;
}
@media(max-width:600px){
  #grid{
    display: block;
  }
  .list {
    border-right: none;
    background: none;
    padding:30px;
    padding-top:10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    line-height: 120%;
  }
  h2 {
    margin: 3px;
  }
  .list a {
    color: gray;
  }
}

@media(min-width:1355px){
  img {
    width:1000px;
  }
  video {
    width:1000px;
  }
}
